# *** devel ***

# ignore everything
devel/action_consistency/*

# unignore .c and Makefile
!devel/action_consistency/*.c
!devel/action_consistency/Makefile

# ignore everything
devel/matop_test/*

# unignore .c and Makefile
!devel/matop_test/*.c
!devel/matop_test/Makefile

# ignore everything
devel/fileop_test/*

# unignore .c and Makefile
!devel/fileop_test/*.c
!devel/fileop_test/Makefile



# *** main ***

# ignore everything
main/*

# unignore .c, .md and Makefile
!main/*.c
!main/*.md
!main/Makefile


